pandas~=1.0.1
numpy~=1.16.4
dash~=1.17.0
dash-bootstrap-components~=0.10.7
nltk~=3.4.5
convcolors~=1.0.0
imageio~=2.5.0
pillow~=8.0.1
tqdm~=4.35.0
requests~=2.23.0
beautifulsoup4~=4.9.0
imageai~=2.1.5
pytest~=5.4.2
opencv-python~=4.4.0.46
